@CHARSET "ISO-8859-1";

body{
	background: #FFF url("#{resource['images:poll2.jpg']}") no-repeat fixed center;
	background-size: 130% 100%; 
}

.ui-layout-container {
	margin: 10px auto 10px auto!important;
	min-height: 400px;
	max-width:1080px;
	
}

.ui-layout-center .ui-widget-content, .ui-layout-north .ui-widget-content{
	padding:5px 10px 5px 10px !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 13px !important;
}